/* 像素字体 - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@import url('./SFMonoRegular/result.css');
/* 鸿蒙字体分包 */
@import url('./HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Regular/result.css');
@import url('./HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Medium/result.css');
@import url('./HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Bold/result.css');
@import url('./HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Black/result.css');